*{
	font-family: 'Roboto', sans-serif;
}

.logo{
	background-color: #303841;
	height: 100vh;
}

.forma{
	background-color: #fff;
	height: 100vh;
	padding: 9% 3%;
}
input{
	width: 100%;
	height: 45px;
	border-radius: 5px;
	margin-top: 5%;
	font-size: 18px;
}
input[type=email],input[type=password]{
	padding: 2px;
}
input[type=submit]{
	background-color: #303841;
	color: white;
	border: 1px solid #303841;
	margin-bottom: 2%;
	font-weight: 500;
}
a{
	color: #2185D5;
}