* {
  font-family: 'Roboto', sans-serif;
}

/*CSS QUE SE UTILIZA PARA PARA ACTUALIZAR Y CREAR TORNEO*/
.contenedor {
  width: 60%;
  margin: 0 auto;
  /*display: flex;*/
  background-color: #F1F1F1;
  /*flex-direction: column;*/
  /*justify-content: space-around;*/
  text-align: center;
  padding: 20px 55px;
  border-radius: 7px;
}

.titulo {
  text-align: center;
}

/*.contenedor2 {
  text-align: center;
  padding: 4%;
  background-color: #8D8D8D;
}*/

/* ----------- crear usuarios ----------- */
.forma {
  background-color: #fff;
  height: 100vh;
  padding: 9% 3%;
}

input,
select,
option {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 5%;
  font-size: 18px;
  padding: 5px;
}

select:invalid {
  color: gray;
}

input[type=date] {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 2%;

}

input[type=submit] {
  background-color: #303841;
  color: white;
  border: 1px solid #303841;
  margin-bottom: 2%;
  font-weight: 500;
}

.content {
  margin: 30px 17%;
}