* {
  font-family: 'Roboto', sans-serif;
}

/*CSS QUE SE UTILIZA PARA PARA ACTUALIZAR Y CREAR TORNEO*/
.contenedor {
  width: 50%;
  margin: 0 auto;
  display: flex;
  background-color: #65C1D8;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.titulo {
  text-align: center;
}

.contenedor2 {
  text-align: center;
  padding: 4%;
  background-color: #8D8D8D;
}

.nombre {
  width: 30%;
  height: 30px;
}

.modalida {
  width: 30%;
  height: 30px;
}

.categoria {
  width: 30%;
  height: 30px;
}

.numEquipos {
  width: 30%;
  height: 30px;
}

.sede {
  width: 30%;
  height: 30px;

}

.boton {
  height: 30px;
}

.botonCrearMas {
  float: right;
  margin: 20px;
}

.theader {
  background-color: #303841;
  color: white;
  font-size: 25px;
  font-weight: 600;
  height: 65px;
  width: 87%;
  /*Para hacer que el header de la tabla se mantenga a pesar del scroll*/
  position: sticky;
  top: 0;
  z-index: 2;
  /*-------------------------------------------------------------------*/
}

.content {
  margin: 50px 13%;
}

table {
  text-align: center;
  min-height: 160px;
  max-height: 375px;
  /*para añadir el scroll cuando hayan más torneos*/
  overflow-y: scroll;
  display: block;
  /*----------------------------------------*/
}

td {
  height: 60px;
  width: 14.6%;
  border-bottom: 1px solid #2e2e2e;
}

th {
  width: 14.6%;
}

button {
  background-color: transparent;
  border: none;
}

tr:nth-child(even) {
  background-color: #E4E4E4;
}